<!-- Main Content -->
<div class="container mt-3">
    <router-outlet></router-outlet>

    <div class="col-md-4">
        <div class="card" style="width: 1000px;">
            <div class="card-body">
                <h5 class="card-title">Cost Management</h5>
                <p class="card-text">Track expenses and manage costs effectively.</p>
            </div>
        </div>
    </div>
    <!-- Featured Section: Renting, Selling, Cost Management -->
    <div class="row mt-5">
        <div class="col-md-4">
            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <img src="/shared_images/rent-car.jpg" class="card-img-top" alt="Rent car image">
                        <h5 class="card-title">Renting</h5>
                        <p class="card-text">Find great rental deals for your next trip.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <img src="/shared_images/buy-car.jpg" class="card-img-top" alt="Buy car image">
                        <h5 class="card-title">Selling</h5>
                        <p class="card-text">Sell your car hassle-free with our platform.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <img src="/shared_images/cost-management.jpg" class="card-img-top" alt="Cost Management Image">
                        <h5 class="card-title">Cost Management</h5>
                        <p class="card-text">Track expenses and manage costs effectively.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>