<div class="container mt-3">
    <router-outlet></router-outlet>

    <div class="col-md-4">
        <div class="card" style="width: 500px;">
            <div class="card-body">
                <h5 class="card-title">Rent a car for occasion</h5>
                <p class="card-text">Check valid calendar availability for car rent</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card" style="width: 1000px;">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let car of cars" (click)="(searchById(car.carId!))">
                
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center" style="width: 400px;">
                        <span>{{ car.make }}</span>
                        <span>{{ car.model }}</span>
                        <span>{{ car.productionYear }}</span>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="createUpdateCar(car)">Edit</button>
            </li>
        </ul>
    </div>
</div>
