<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <a routerLink="" class="navbar-brand">Car Web Service</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="cars" class="nav-link">Car fleet</a>
      </li>
      <li class="nav-item">
        <a routerLink="reservations" class="nav-link">Reservations</a>
      </li>
      <li class="nav-item">
        <a routerLink="selling" class="nav-link">For sale</a>
      </li>
      <div *ngIf="isAdmin">
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Add Car</a>
        </li>
      </div>
    </ul>
    <ul class="navbar-nav ml-auto">
      <div *ngIf="isLogged; else loggedIn">
        <li class="nav-item">
          <a routerLink="login" class="nav-link" (click)="isLogged = false">Logout</a>
        </li>
      </div>
      <ng-template #loggedIn>
        <div>
          <li class="nav-item">
            <a routerLink="login" class="nav-link">Login</a>
          </li>
        </div>
      </ng-template>
      <li class="nav-item">
        <a routerLink="contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>