<div>
    <div class="submit-form" style="width:400px;" >
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" formControlName="password">
            </div>

            <button type="submit" class="btn btn-success">Login</button>

        </form>
    </div>
</div>