<!-- <button type="button" (click)="openModal()">Open Modal</button>

<ngb-modal #modal>
    <ng-template ngbModalContent>
        <h1>This is a modal</h1>
        <p>This is content</p>
        <button type="button" (click)="closeModal()">Close Modal</button>
    </ng-template>
</ngb-modal> -->
<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">This is a modal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>This is content</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close Modal</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="openModal(content)">Launch demo modal</button> -->

  <div class="modal-header">
    <h4 class="modal-title">Edit Car</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Car edit form here -->
  </div>